
@charset "utf-8";
*{
  margin:0px;
  padding:0px;
  text-decoration:none;
  box-sizing:border-box;
  font-size:.14rem;
  font-style:normal;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
img,div,body,html,ul,li,a{
 -webkit-touch-callout: none;

 }
 input,button{
 outline:0;

 }
 button{
 cursor:pointer;
 }
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #ccc;}
html,body{
    width:100%;
    height:100%;

}
.wrap{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    overflow:hidden;
}
header{
    width: 100%;
    height: 60px;
    background: #46D265;
    font-size:30px;
    color:#fff;
    text-align: center;
    line-height:60px;
}
.scroll{
    flex:1;
    overflow-y:scroll;
}
aside{
    width:100%;
    h4{
    width:100%;
    height:auto;
    }
    img{
    width:100%;
    height:auto;
    display:block;
    }
}

footer{
    width:100%;
    height:.6rem;
    button{
    width:100%;
    height:.6rem;
    background:#C33552;
    color:#fff;
    line-height:.6rem;
    font-size:.16rem;
    font-weight:900;
    border:0;
    }
}
